---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&query=Jack%20Reacher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - bb95501cab86419de746ede235ce505e
      X-Memc-Age:
      - '6401'
      X-Memc-Expires:
      - '20716'
      Etag:
      - W/"487aebbef80581bf54cf2e175720a248"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/2v3pC01rf0uXnECOM94pjfqk1TY.jpg","genre_ids":[80,18,53,28],"id":75780,"original_language":"en","original_title":"Jack
        Reacher","overview":"One morning in an ordinary town, five people are shot
        dead in a seemingly random attack. All evidence points to a single suspect:
        an ex-military sniper who is quickly brought into custody. The interrogation
        yields one written note: ''Get Jack Reacher!''. Reacher, an enigmatic ex-Army
        investigator, believes the authorities have the right man but agrees to help
        the sniper''s defense attorney. However, the more Reacher delves into the
        case, the less clear-cut it appears. So begins an extraordinary chase for
        the truth, pitting Jack Reacher against an unexpected enemy, with a skill
        for violence and a secret to keep.","popularity":83.809,"poster_path":"/uQBbjrLVsUibWxNDGA4Czzo8lwz.jpg","release_date":"2012-12-20","title":"Jack
        Reacher","video":false,"vote_average":6.6,"vote_count":7032},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":1045592,"original_language":"en","original_title":"Jack
        Reacher: When the Man Comes Around","overview":"Cast and crew speak on adapting
        One Shot as the first Jack Reacher film, casting Tom Cruise, earning Lee Child''s
        blessing, additional character qualities and the performances that shape them,
        Lee Child''s cameo in the film, and shooting the film''s climax.","popularity":15.452,"poster_path":"/tcOPca5Ook6aR9mehrnxD9kfk7m.jpg","release_date":"2013-05-07","title":"Jack
        Reacher: When the Man Comes Around","video":false,"vote_average":7.667,"vote_count":3},{"adult":false,"backdrop_path":"/ww1eIoywghjoMzRLRIcbJLuKnJH.jpg","genre_ids":[28,53],"id":343611,"original_language":"en","original_title":"Jack
        Reacher: Never Go Back","overview":"Years after resigning command of an elite
        military police unit, the nomadic, righter-of-wrongs Reacher is drawn back
        into the life he left behind when his friend and successor, Major Susan Turner
        is framed for espionage. Reacher will stop at nothing to prove her innocence
        and to expose the real perpetrators behind the killings of his former soldiers.","popularity":64.931,"poster_path":"/cOg3UT2NYWHZxp41vpxAnVCOC4M.jpg","release_date":"2016-10-19","title":"Jack
        Reacher: Never Go Back","video":false,"vote_average":6.0,"vote_count":4886}],"total_pages":1,"total_results":3}'
  recorded_at: Wed, 08 Jan 2025 19:18:25 GMT
recorded_with: VCR 6.3.1
